*.[oa]
*.dll
*.idb
*.pdb
*.pdsyncu
ui_*.h
*.vcproj
*.vcxproj*
*.sln
*.ncb
*.user
*.pdsync
*.exp
*.ilk
*/debug/
build/*lib
*/release/
*.exe
*.Debug
*.Release
*/Makefile
*.autosave
build/calculatingproblemmanager.dll
build/dataaccess.dll
build/db_saturn.dll
build/manage_users.dll
build/mapview.dll
build/my_mapaccess.dll
build/object_manager.dll
build/output.dll
build/reports.dll
build/supporting_tables.dll
build/textedit.dll
build/signs_edit.dll
build/searchengine.dll
build/coord.dll
build/event_manager.dll
build/eventsmodel.dll
build/users_manager.dll
saturn.suo
# Файлы и директории, создаваемые CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeBuild/
*.cmake
!CMakeLists.txt

# Директории сборки (build directories)
build/
*/build/
*/*/build/
working_build/

# Прочие временные файлы
*.tmp
*.swp
