*.[oa]
*.idb
*.pdb
*.pdsyncu
ui_*.h
*.vcproj
*.sln
*.ncb
*.user
*.pdsync
*.exp
*.ilk
*/debug/
build/*lib
*/release/
*.exe
*.Debug
*.Release
*/Makefile
*.autosave
build/calculatingproblemmanager.dll
build/dataaccess.dll
build/db_saturn.dll
build/manage_users.dll
build/mapview.dll
build/my_mapaccess.dll
build/object_manager.dll
build/output.dll
build/reports.dll
build/supporting_tables.dll
build/textedit.dll
build/signs_edit.dll
build/searchengine.dll
build/coord.dll
build/event_manager.dll
build/eventsmodel.dll
saturn.suo
